<section class="container spacing-top">
	<div class="row">
		<div class="col-lg-6">
			<%= image_tag('chat.png') %>
		</div>
		<div class="col-lg-6 title-center">
			<h1>Talk To Paul</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
			<% if user_signed_in? %>
				<%= link_to 'Channels', rooms_path, class: 'btn btn-outline-info' %>
			<% else %>
				<%= link_to 'Join us', new_user_registration_path, class: 'btn btn-outline-info' %>
			<% end %>
		</div>
	</div>
</section>