<section class="container spacing-top">
	<h3>Editing User</h3>

	<%= render 'form', user: @user %>
	<div class="user-links">
		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', :back %>
	</div>
</section>