<section class="container">
	<h3>Editing Room</h3>

	<%= render 'form', room: @room %>
	<div class="user-links">
		<%= link_to 'Show', @room %> |
		<%= link_to 'Back', rooms_path %>
	</div>
</section>