// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#posted {
	position: fixed;
	z-index: 30;
	top: 0;
	left:0;
	background-color: #33585f;
	width: 100%;
	height: 80px;
	color: #fff;
	text-align: center;
	padding-top: 30px;
	display: none;
}

.comment-alert {
	position: fixed;
	z-index: 30;
	top: 0;
	left:0;
	background-color: #33585f;
	width: 100%;
	height: 80px;
	color: red !important;
	text-align: center;
	padding-top: 30px !important;
	display: none;
}

/*.comment-alert {
	display: none;
	color: #308694;
}

.comment-alert i {
	margin-right: 10px;
	color: red;
}*/

.comment {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.comment i {
	padding-left: 10px;
	color: red;
}

.comment p {
	margin-bottom: 0;
	color: #308694;
}

.comment small {
	color: #afadad;
}


.comment-body {
	color: #7b7979 !important;
	margin-left: 54px;
}

.comment-section	{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

.comment-section label	{
	display: none;
}

.new-comment {
	width: 100%;
	position: fixed;
	z-index: 40;
	bottom: 0;
	right: 0;
	padding-right: 20px;
	padding-left: 20px;
}

.topic-comment {
	width: auto;
	height: auto;
}

@media(min-width: 992px){

	.new-comment {
		width: 80%;
		position: fixed;
		z-index: 40;
		right: 30px;
		bottom: 0;
		padding-right: 0;
		padding-left: 0;
	}
}














