// Place all the styles related to the memberships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.membership {
  h2, h3 {
    font-weight: normal;
  }

  h2 {
    margin-top: 20px;
    text-align: left;
  }

  a {
    color: #4183C4;
  }

  .offset {
    margin-top:20px;
  }

  .box {
    position: relative;
    color: #308694;
    border-bottom: 1px solid rgba(34,36,38,.15);
    margin-bottom: 20px;
  }

  .add-box {
    border-bottom: 1px solid rgba(34,36,38,.15);
    color: #308694;
  }
}

#member-list {
  list-style: none;
  padding-left: 0;
}

#add-users {
  list-style: none;
  padding-left: 0;
}

.room-link {
  float: right;
}

.room-link i {
  font-size: 3rem;
}

.btn-spacing {
  margin-top: 30px;
}