// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic-section {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 2px solid #eee;
}

.topic-column {
	min-height: 100%;
	background-color: #308694;
	padding-top: 30px;
	color: #fff;
}

.topic-column a {
	color: #fff;
}

.topic-show {
	margin-left: 20px;
	height: auto;
	padding-top: 20px;
	border-bottom: 2px solid #f8f9fa;
}

.topic-show p {
	padding-top: 5px;
	margin-bottom: 5px;
}