// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic-section {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 2px solid #eee;
}

.topic-column {
	height: 100vh;
	background-color: #308694;
	padding-top: 30px;
	color: #fff;
}

.topic-column a {
	color: #fff;
}

.topic-show {
	margin-left: 20px;
	height: auto;
	padding-top: 20px;
	border-bottom: 2px solid #f8f9fa;
}

.topic-show p {
	padding-top: 5px;
	margin-bottom: 5px;
}

.visible-comments {
	margin-bottom: 50px;
}

.channel {
	border-bottom: 1px solid #fff;
	margin-bottom: 40px;
	padding-bottom: 10px;
}

.channel h5 {
	color: #33585f;
	font-weight: 300;
	font-size: 1em;
}