// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.active { display: block; } 

.inactive { display: none; }
.topic-section {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 2px solid #eee;
}

.topic-section a {
	color: #308694;
	text-decoration: none;
}

.topic-section p {
	color: #7b7979;
	font-style: italic;
}

.topic-column {
	height: auto;
	padding-top: 20px;
	background-color: #308694;
	color: #fff;
	position: relative;
}

.topic-column a {
	color: #fff;
}

.topic-show {
	margin-left: 20px;
	height: auto;
	padding-top: 20px;
	border-bottom: 2px solid #f8f9fa;
}

.topic-show h3 {
	color: #308694;
}

.topic-show p {
	color: #7b7979;
	padding-top: 5px;
	margin-bottom: 5px;
}

.channel {
	border-bottom: none;
	margin-bottom: 40px;
	padding-bottom: 10px;
}

.channel h5 {
	color: #33585f;
	font-weight: 300;
	font-size: 1em;
}

.display-area {
	position: relative;
  margin-top: 0;
  margin-bottom: 150px;
}

.welcome, .users, .online {
	display: none;
}

.links h5 {
	display: none;
}

.links p {
	float: left;
	margin-right: 20px;
}


@media(min-width: 992px) {
	.topic-column {
		height: 100vh;
		padding-top: 80px;
		color: #fff;
		position: fixed;
		left: 0;
		top: 0;
	}

	.channel {
		border-bottom: 1px solid #33585f;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}

	.channel h5 {
		color: #33585f;
		font-weight: 300;
		font-size: 1em;
	}

	.welcome, .users, .online {
		display: block;
	}

	.display-area {
		position: absolute;
	  right: 0;
	  margin-bottom: 60px;
	}

	.links p {
		float: none;
	}


}

























