// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-center	{
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}

.title-center h1	{
	font-size: 4em;
}

.img-right {
	float: right;
}

.index-spacing {
	margin-top: 10px;
	margin-bottom: 50px;
}

.img-position {
	text-align: center;
}

@media(min-width: 768px) {
	.index-spacing {
		margin-top: 100px;
	}
	.title-center	{
		text-align: center;
	}
}

@media(min-width: 992px) {
	.img-position {
		text-align: right;
	}

	.index-spacing {
		margin-top: 200px;
	}
	.title-center	{
		margin: auto;
		text-align: left;
	}
}