// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user-links {
	margin-top: 30px;
}

.form-center {
	width: 100%;
	margin: auto;
	background-color: #f8f9fa;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #fff;
	color:  #308694;
}

.full-height {
	padding-top: 10px;
}

.devise-btn {
	margin-top: 30px;
	border: 2px solid  #308694;
	color: #308694;
}

.devise-btn:hover {
	color: #fff;
	border: 2px solid  #308694;
	background-color: #308694;
}

.circle {
	height: 35px;
  width: 35px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-right: 20px;
}



.user-details {
	margin-bottom: 20px;
}

@media(min-width: 768px) {
	.form-center {
		width: 400px;
		padding: 20px;
	}

	.full-height {
		padding-top: 60px;
	}
}